<!DOCTYPE html>
<html>
<head>
  <title>Maintenance</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">
  Event Management - Admin Panel
</div>

<div class="dashboard">

  <div class="sidebar">
    <a href="/dashboard">Dashboard</a>
    <a href="/maintenance">Maintenance</a>
    <a href="/reports">Reports</a>
    <a href="/transactions">Transactions</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="main">
    <div class="card">
      <h2>Maintenance (Admin Only)</h2>
      <br>
      <a href="/addMembership">➕ Add Membership</a><br>
      <a href="/updateMembership">✏ Update Membership</a><br>
    </div>
  </div>

</div>

</body>
</html>

